#~/.rtorrent.rc

##rtorrent doesn't like absolute file paths, so make sure to alias
##rtorrent to "cd ~ && rtorrent" in case you're forgetful

#Global upload and download rate in KiB. "0" for unlimited

download_rate = 0
upload_rate = 50

#Scheduling upload and download rates for on/off-peak hours

schedule = throttle_1,23:00:00,24:00:00,upload_rate=0
schedule = throttle_2,16:00:00,24:00:00,upload_rate=50

schedule = throttle_3,23:00:00,24:00:00,download_rate=0
schedule = throttle_4,16:00:00,24:00:00,download_rate=500

#Peer limits for downloading torrents

min_peers = 50 ; look for more peers if limit doesn't reach 50
max_peers = 500 ; if there are 500 peers, don't allow any more

#Same as above but for seeding completed torrents (-1 = same as downloading)

min_peers_seed = -1
max_peers_seed = -1

#Maximum number of simultanious uploads per torrent

max_uploads = 25

port_range = 6881-6999 ; ports to use for listening

#Start opening ports at a random position within the port range

port_random = yes 

#Check hash

check_hash = yes ; check hash on finished torrents

#encryption settings

encryption = allow_incoming,enable_retry,prefer_plaintext

#Use UDP trackers

use_udp_trackers = yes ; setup client to use udp (stateless) trackers

#DHT clientless tracker

dht = auto
dht_port = 6881
peer_exchange = yes

#Session tmp file (relative dir is good, absolute is bad)

session = ./Downloads/rtorrent/session

#Default directory to save the downloaded torrents.

directory = ./Downloads/rtorrent/downloads/

#Close torrents when diskspace is low.

schedule = low_diskspace,5,60,close_low_diskspace=2048M

#Watch a directory for new torrents, and stop those that have been deleted (^d)

schedule = watch_directory,5,5,"load_start=./Downloads/rtorrent/watch/*.torrent"
schedule = untied_directory,5,5,stop_untied=
