!!Fonts!!
URxvt.font:     xft:Terminus:size=14:antialiasing=true
URxvt.boldFont: xft:Terminus:bold:size=14:antialiasing=true

!!Borders!!
URxvt*internalBorder: 8
URxvt*externalBorder: 0

!!Colours!!
URxvt*background:   #000000
URxvt*foreground:   #F0F0F0
URxvt.cursorColor:  #F0F0F0
URxvt.cursorColor2: #000000

!URxvt.color0:  #101030 // black -> black russian
!URxvt.color1:  #9e1828 // red -> tamarillo
!URxvt.color2:  #aece92 // green -> pine glade
!URxvt.color3:  #968a38 // yellow -> sycamore
!URxvt.color4:  #414171 // blue -> east bay
!URxvt.color5:  #963c59 // magenta -> vin rouge
!URxvt.color6:  #418179 // cyan -> viridian
!URxvt.color7:  #bebebe // white -> silver
!URxvt.color8:  #666666 // bright black -> dove gray
!URxvt.color9:  #cf6171 // bright red -> chestnut rose
!URxvt.color10: #c5f779 // gright green -> sulu
!URxvt.color11: #fff796 // bright yellow -> witch haze
!URxvt.color12: #4186be // bright blue -> steel blue
URxvt.color12: rgb:5c/5c/ff
!URxvt.color13: #cf9ebe // bright magenta -> violet
!URxvt.color14: #71bebe // bright cyan -> neptune
!URxvt.color15: #ffffff // bright white -> white

!!Scrolling!!
URxvt.saveLines: 30000
URxvt.scrollBar: false

!!Perl Extensions!!
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.iso14755:        false
URxvt.iso14755_52:     false
URxvt.keysym.C-C:      perl:clipboard:copy
URxvt.keysym.C-V:      perl:clipboard:paste
URxvt.keysym.C-A-V:    perl:clipboard:paste_escaped
